{% extends "base.html" %}

{% block title %}Services List{% endblock %}

{% block content %}
<h1 class="services-title">All Services</h1>

<ul class="services-list">
    {% for service in services %}
        <li class="service-item">
            
            {% if service.image_url %}
                <img src="{{ service.image_url }}" 
                     alt="{{ service.title }}" 
                     class="service-image">
            {% endif %}

            <a href="{% url 'create_order' service.id %}" class="service-title">
                {{ service.title }}
            </a>
            <p>{{service.description}}</p>
            <span class="service-price">
               <p>From</p> <strong>$</strong> {{ service.min_price }} - <p>&infin;</p>
            </span>

        </li>
    {% endfor %}
</ul>
{% if services|length == 0 %}
    <p class="no-services">No services are available at the moment. Please check back later.</p>
{% endif %}
{% endblock %}